.ipynb_checkpoints/
230327 - Brouillon.ipynb
230517 - Brouillon Plan.docx
230519 - Brouillon Plan.docx
230523 - Brouillon Plan.docx
fr.openfoodfacts.org.products.csv
nutriscore explique p33.pdf
p3 draft.ipynb
